#./project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.dbg
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.reloc
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.xdbg
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.mem
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsimk
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.dbg
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.reloc
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.xdbg
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.mem
#./project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsimk
#./project_5/project_5.sim/sim_1/behav/top2_behav.wdb
#./project_5/project_5.sim/sim_1/behav/top_behav.wdb
#./.git/objects/pack/pack-e0bb9b31b8ad587435a03db5dfd4e2162dd1ecea.pack

project_5/project_5.sim/sim_1/behav/
project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.*
project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.*
project_5/project_5.sim/sim_1/behav/xsim.dir/top2_behav/xsim.xdbg
project_5/project_5.sim/sim_1/behav/xsim.dir/top_behav/xsim.xdbg



